.header-iletisim{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5em;
    color: green;
    
}
.row-text-iletisim{
    margin: 2rem 0;
}
.label-iletisim{
    text-align: center;
}
.text-iletisim{
    width: 75%;
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 0.5em;
    opacity: 0.8;
}
.text-iletisim:hover{
    opacity: 1;
    box-shadow: 1px 1px 1px gray;
    transition: all 0.1s linear;
}
form button{
    width: 40%;
    border: 1px solid rgb(7, 134, 207);
    border-radius: 10px;
    background-color: green;
    color: white;
    box-shadow: 1px 1px 1px gray;
    opacity: 0.8;
}
form button:hover{
    opacity: 1;
    box-shadow: 2px 2px 2px rgb(75, 72, 72);
    transition: all 0.1s linear;
}
.button{
    text-align: center;
    margin: 1px;
}
.error{
    border: green;
    border-radius: 5px;
    visibility: hidden;
    line-height: 5rem;
    text-align: center;
    color: green;

}
.footer{
    margin-top: 2rem;
}
@media screen and (max-width: 760px){
    .label{
        text-align: left;
    }
    .button{
        text-align: center;
        margin: 0.5rem 0;
    }
}